# requirements for the Mock FreeCAD context
pyjwt
requests
tzlocal
PySide2==5.13.2
-r fc_requirements.txt
_mock_environment/libs/FreeCAD
_mock_environment/libs/FreeCADGui
_mock_environment/libs/AddonManager
